
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_teachersLayout.cshtml";
}





<br />

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-11 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Add Data For Student</h2>
                @*<p>Fill all form field to go to next step</p>*@

                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Lesson</strong></li>
                        <li id="personal"><strong>Lesson</strong></li>
                        @*<li id="payment"><strong>Lesson</strong></li>*@

                        <li id="confirm"><strong>Finish</strong></li>
                    </ul>
                    <div class="progress">
                    	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                	</div>
                    <br>
                    <!-- fieldsets -->
                  

                    @*------------------------   Lesson 1    -------------------------*@
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                        		<div class="col-7">
                            		<h2 class="fs-title">Lesson Upload:</h2>
                            	</div>
                            	
                            </div>
                            <label class="fieldlabels">Select Type:</label>
                           <select  id="drpLessonType"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                             <option value="-1">Select Lesson type</option>
                               <option value="week">Weekly</option>
                             <option value="day">Topic Based</option>
                            </select>


                               <div class="dayDiv">

                                    <select  id="dayDrp"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                               <option value="-1">Select Day</option>
                               <option value="1">1</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                               <option value="4">4</option>
                               <option value="5">5</option>
                               <option value="6">6</option>
                              </select>
                               </div>
                            
                             <label class="fieldlabels">Select Lesson Format:</label>
                           <select  id="drpFormat"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                             <option value="-1">Select Lesson Format</option>
                               <option value="audio">Audio</option>
                             <option value="video">Video</option>
                             <option value="text">Text</option>
                             <option value="mcqs">MCQs</option>
                            </select>
                        </div>
                        <input type="button" name="next" id="btnNextLesson1" class="btnNextLesson1 action-button" value="Submit"/>
                        <input type="button" name="previous" id="btnPreStepperTeacher" class="previous action-button-previous" value="Previous"/>
                    </fieldset>
                    
                    
                            @*-------------------------lesson 2------------------------*@



                       <fieldset>
                        <div class="form-card" id="lesson2form">
                            
                            	
                          	<div class="col-7">
                            		<h2 class="fs-title">Lesson Upload:</h2>
                            	</div>
                              <label  class="control-label">Select Category</label>
                              <select   id="CourseCategorydrp"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                               <option>Select Category</option>
                              </select>

                           
                               <label  class="control-label" >Select Course</label>
                              <select  id="Coursedrp"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                              <option>Select Course</option>
                              </select>

                             
                              @*  <label class="control-label weekHide">Week</label>
                               <input type="text"  class="form-control weekHide" />*@
                             


                            
                             



                               <div class="textDiv">
                                <label  class="control-label textHide">Enter Text</label>
                              <textarea  class="ckeditor  textHide"  id="text" ></textarea>
                              </div>
                                 <label class="control-label videoHide">Upload Video</label>
                              <input type="file"  id="videoUpload"  name="files" class="fileUpload videoHide" multiple />       

                                 <label class="control-label  audioHide">Upload Audio</label>
                            <input type="file"  id="audioUpload"  name="files" class="fileUpload audioHide" multiple />







                        </div>
                        <input type="button" name="next" id="btnNextLesson2" class="next action-button" value="Submit"/>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    </fieldset>


                         @*-----------------------------Finished-------------------------- *@
                    <fieldset>
                        <div class="form-card">
                        	<div class="row">
                        		<div class="col-7">
                            		<h2 class="fs-title">Finish:</h2>
                            	</div>
                            	
                            </div>
                            <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <img src="https://i.imgur.com/GwStPmg.png" class="fit-image">
                                </div>
                            </div>
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
	</div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" type="text/css" href="~/css/Stepper.css"  />
    <script type="text/javascript" src="~/js\StepperForTeacher.js" ></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
  <script src="~/ckeditor/ckeditor.js"></script>
  <link href="~/ckeditor/contents.css" rel="stylesheet" />
 

}
