@model BeajLearner.WebApp.Models.Auth.Login;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<style>
     .button {
       
      }
      .button:disabled {
        opacity: 0.5;
      }
      .hide {
        display: none;
      }
</style>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user" method="post" asp-controller="login">
                                    <div class="form-group">
                                        <input type="text" class="form-control txtEmail"  asp-for="Email" placeholder="Email">
                                        <label id="lblEmail"></label>
                                        <span asp-validation-for="Email" style="color:red"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control txtPassword"  asp-for="Password" placeholder="password">
                                         <label id="lblPassword"></label>
                                        <span asp-validation-for="Password" style="color:red"></span>
                                    </div>
                                    <div><span style="color:red">@ViewBag.Message</span></div>
                                  @*  <button type="button" class=" btn btn-primary btn-user btn-block"onclick="loginclick()"  >
                                     <i class="loading-icon fa fa-refresh fa-spin hide"></i><span>Login</span></button>
*@
                                    

                                      <button id="btnclick" class="button btn btn-primary btn-user btn-block" type="button" onclick="loginclick()">
                                          <i id="loginspinner" class="loading-icon fa fa-refresh fa-spin hide" hidden></i>
      <span class="btn-txt" >Login</span>
    </button>



                                    
                                </form>


                                <hr>
                              
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="register.html">Create an Account!</a>
                                </div>

                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



@section Scripts
{
   <script type="text/javascript" src="@Url.Content("js/Login/LoginIndex.js")"></script>
     <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
     <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
}




