@model BeajLearner.Application.DTOs.AddLessonDto

@{
    ViewData["Title"] = "AddLesson";
}

<h1>AddLesson</h1>

<hr />
<div style="">
<p><b>Choose type of Lesson</b></p>

  <div class="form-check form-check-inline">
         <input class="form-check-input" onclick="lessonType(value)" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Video">
         <label class="form-check-label" for="inlineRadio1">Video</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input" onclick="lessonType(value)" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Audio">
         <label class="form-check-label" for="inlineRadio2">Audio</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio"  onclick="lessonType(value)" name="inlineRadioOptions" id="inlineRadio3" value="MCQs" >
         <label class="form-check-label" for="inlineRadio3">MCQs </label>
       </div>

</div>
<br />
@*---------------------------------Video-------------------------------------------------*@
@*<div class="row videoDiv" >
    <div>
          <form asp-action="AddLesson"  enctype="multipart/form-data" method="post" id="formlesson" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseCategoryId" class="control-label">Select Category</label>
               <select asp-for="CourseCategoryId"  id="CourseCategorydrp" >
                   <option>Select Category</option>
               </select>
                <span asp-validation-for="CourseCategoryId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CourseId" class="control-label">Select Course</label>
               <select asp-for="CourseId"  id="Coursedrp" >
                   <option>Select Course</option>
               </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="week" class="control-label"></label>
                <input asp-for="week" class="form-control" />
                <span asp-validation-for="week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="text" class="control-label">Enter Text</label>
                <textarea asp-for="text" class="ckeditor"  id="text" ></textarea>
                  <span asp-validation-for="text" class="text-danger"></span>
            </div>
             <div class="form-group">
                 <label class="control-label">Upload Video</label>
               <input type="file" asp-for="Videos" id="videoUpload"  name="files" class="fileUpload" multiple />
               
            </div>
          
           
           
            <div class="form-group">
                @*<input type="button" value="Add Lesson" class="btn btn-primary" onclick="submitlesson()" />
                 <input type="submit" value="Add Lesson" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@


@*-----------------------------------Audios-------------------------------------*@

<div class="row audioDiv" hidden >
    <div>
          <form asp-action="AddLesson"  enctype="multipart/form-data" method="post" id="formlesson" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseCategoryId" class="control-label">Select Category</label>
               <select asp-for="CourseCategoryId"  id="CourseCategorydrp" >
                   <option>Select Category</option>
               </select>
                <span asp-validation-for="CourseCategoryId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CourseId" class="control-label">Select Course</label>
               <select asp-for="CourseId"  id="Coursedrp" >
                   <option>Select Course</option>
               </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="week" class="control-label"></label>
                <input asp-for="week" class="form-control" />
                <span asp-validation-for="week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="text" class="control-label">Enter Text</label>
                <textarea asp-for="text" class="ckeditor"  id="text" ></textarea>
                  <span asp-validation-for="text" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                 <label class="control-label">Upload Audio</label>
               <input type="file" asp-for="Audios"  name="files" id="audioUpload" class="fileUpload" multiple />
            </div>
           
           
            <div class="form-group">
                @*<input type="button" value="Add Lesson" class="btn btn-primary" onclick="submitlesson()" />*@
                 <input type="submit" value="Add Lesson" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@*-----------------------------------MCQs-------------------------------------*@

<div class="row mcqDiv" hidden >
    <div>
          <form asp-action="AddLesson"  enctype="multipart/form-data" method="post" id="formlesson" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseCategoryId" class="control-label">Select Category</label>
               <select asp-for="CourseCategoryId"  id="CourseCategorydrp" >
                   <option>Select Category</option>
               </select>
                <span asp-validation-for="CourseCategoryId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CourseId" class="control-label">Select Course</label>
               <select asp-for="CourseId"  id="Coursedrp" >
                   <option>Select Course</option>
               </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="week" class="control-label"></label>
                <input asp-for="week" class="form-control" />
                <span asp-validation-for="week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="text" class="control-label">Enter Text</label>
                <textarea asp-for="text" class="ckeditor"  id="text" ></textarea>
                  <span asp-validation-for="text" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                 <label class="control-label">Upload MCQS</label>
               <input type="file" asp-for="Audios"  name="files" id="audioUpload" class="fileUpload" multiple />
            </div>
           
           
            <div class="form-group">
                @*<input type="button" value="Add Lesson" class="btn btn-primary" onclick="submitlesson()" />*@
                 <input type="submit" value="Add Lesson" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@*--------------------------------------All Data-----------------------------*@

@*<div class="row">
    <div class="">
        <form asp-action="AddLesson"  enctype="multipart/form-data" method="post" id="formlesson" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseCategoryId" class="control-label">Select Category</label>
               <select asp-for="CourseCategoryId"  id="CourseCategorydrp" >
                   <option>Select Category</option>
               </select>
                <span asp-validation-for="CourseCategoryId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CourseId" class="control-label">Select Course</label>
               <select asp-for="CourseId"  id="Coursedrp" >
                   <option>Select Course</option>
               </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="week" class="control-label"></label>
                <input asp-for="week" class="form-control" />
                <span asp-validation-for="week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="text" class="control-label">Enter Text</label>
                <textarea asp-for="text" class="ckeditor"  id="text" ></textarea>
                  <span asp-validation-for="text" class="text-danger"></span>
            </div>
             <div class="form-group">
                 <label class="control-label">Upload Video</label>
               <input type="file" asp-for="Videos" id="videoUpload"  name="files" class="fileUpload" multiple />
               
            </div>
            <div class="form-group">
                 <label class="control-label">Upload Audio</label>
               <input type="file" asp-for="Audios"  name="files" id="audioUpload" class="fileUpload" multiple />
            </div>
           
           
            <div class="form-group">
                <input type="button" value="Add Lesson" class="btn btn-primary" onclick="submitlesson()" />
                 <input type="submit" value="Add Lesson" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
@*---------------------------------------------*@
<br />
@*<label class="">Show Courses from specific Category</label>

<div>
      <select id="drpCategory">

           <option value="-1">Show All Category Courses</option>
      </select>
</div>

      <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>LessonId</th>
                        <th>Week</th>
                        <th>Text</th>
                        <th>Lesson Audio</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                  <tbody >
                  </tbody>
            </table>
  </div>
*@
  @*--------------------------*@









@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" type="text/css" href="~/css/lesson.css"  />
    <script type="text/javascript" src="~/js\Lessonjs.js" ></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
  <script src="~/ckeditor/ckeditor.js"></script>
  <link href="~/ckeditor/contents.css" rel="stylesheet" />
 

}
