
@{
    ViewData["Title"] = "getLessons";
}


@*------------------------------------- Show text Modal --------------------------------------------*@

   <div class="modal   textModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title">Your Text </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body textModalBody" style="">
          
 
      </div>
  
    </div>
  </div>
</div>

@*-------------------------------------  Speak Questions show Modal --------------------------------------------*@

   <div class="modal   speakModal" tabindex="-1">
  <div class="modal-dialog  modal-dialog-scrollable" style="max-width: 60%;">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title">Questions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body showSpeakModalBody" style="">
        
 
      </div>
  
    </div>
  </div>
</div>


@*------------------------------------- Show mcqs Modal --------------------------------------------*@

   <div class="modal   mcqsModal" tabindex="-1">
  <div class="modal-dialog  modal-dialog-scrollable" style="max-width: 60%;">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title">Mcqs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mcqsModalBody" style="">
        
 
      </div>
  
    </div>
  </div>
</div>



@*------------------------------------- Show text img Modal   / audio image too --------------------------------------------*@

   <div class="modal  textImgModal"  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title">Your Image </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body textImgModalBody" style="">
        
 
      </div>
  
    </div>
  </div>
</div>


@*------------------------------------- Show audio img Modal   / audio image too --------------------------------------------*@

   <div class="modal  audioImgModal"  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title">Your Image </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body audioImgModalBody" style="">
        
 
      </div>
  
    </div>
  </div>
</div>



@*------------------------------------- Show edit Modal   / audio image too --------------------------------------------*@

   <div class="modal  lessonEditModal "   tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable" style="max-width: 60%;">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title">Edit Lesson </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body EditModalBody" style="">
        

          @*-------------------------  Edit ------------------------------*@

          <div  class="row">
      <div class="col-6">
       <select   id="CourseCategorydrpEdit"  class="form-select form-select-lg mb-3 " aria-label=".form-select-lg example" >
          <option value="-1">Select Category</option>
           </select>
      </div>

      <div class="col-6">
        <select  id="CoursedrpEdit"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
        <option value="-1">Select Course</option>
        </select>
        </div>
          </div>
          <div>
           <div class="row">
                        		
                            	
                            </div>
                            <label class="fieldlabels">Select Type:</label>
                           <select  id="drpLessonType"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                             
                            </select>
                           <div class="weekNumberDiv weekHide">
                               <label class="fieldlabels">Week number</label>
                                 <select  id="weekNumberDrp"   class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                               <option value="-1">Select Week Number</option>
                             
                              
                              </select>
                             <div class="row">
                                @* <div class="col-4">
                                     <label class="fieldlabels">Week Image</label>
                                  <input type="file" id="weekImgUpload" class="form-control"/>
                              </div>*@

                                   <div  class="col-6">
                                     <label class="fieldlabels">Week Image</label>
                                     <div id="imgDiv">

                                     </div>
                               
                              </div>

                                 <div class="col-6">
                                     <label class="fieldlabels">Week Description</label>
                                  <input class="form-control" readonly id="weekDescription"  placeholder="Add Week Description" />
                              </div>
                                 
                              </div>
                           </div>
                           <br />
                               <div class="dayDiv weekHide" >
                                   <label class="fieldlabels"> Week Day</label>
                                    <select  id="dayDrp"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                               <option value="-1">Select Day</option>
                               <option value="1">1</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                               <option value="4">4</option>
                               <option value="5">5</option>
                               <option value="6">6</option>
                              </select>
                               </div>
                            
                             <label class="fieldlabels">Lesson Activity:</label>
                          @* <select  id="drpFormat"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                             <option value="-1">Select Lesson Activity</option>
                               <option value="audio">Listen</option>
                             <option value="video">Watch</option>
                             <option value="read">Read</option>
                              <option value="listenAndSpeak">Listen and Speak</option>
                               <option value="watchAndSpeak">Watch and Speak</option>
                             <option value="mcqs">MCQs</option>
                            </select>*@
                            <input class="form-control" readonly id="txtActivity"  />
                            <br />
                            <label class="fieldlabels">Select activity alias</label>
                              <select  id="drpAlias"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                           
                            </select>
                          
          </div>
                       
                               <div class="textDiv col-11">
                                 <label  class="control-label textHide">Enter Text</label>
                              <textarea  class="ckeditor  textHide"  id="ckContent" ></textarea>

                              </div>

                               <br />
                                 <div id="imgHideDiv" class="row">
                                     <div class="col-6">
                                        <label class="control-label  audioHide">Upload Image</label>
                                        <input type="file"  id="imageUpload"  name="files" class="fileUpload imageHide js-file-upload form-control" multiple />
                                    </div>
                                     <div id="imgLessonEditDiv" class="col-6">

                                     </div>
                               </div>

                               <div id="videoHideDiv" class="row"> 
                                   <div class="col-6">
                                        <label class="control-label videoHide">Upload Video</label>
                                      <input type="file"  id="videoUpload"  name="files" class="fileUpload videoHide js-video-upload form-control" multiple />       

                                   </div>
                                   <div id="videoLessonEditDiv"  class="col-6">

                                   </div>
                               </div>
                                
                               <br />
                             
                                <div id="audioHideDiv" class="row"> 
                                   <div class="col-6">
                                    
                                 <label class="control-label  audioHide">Upload Audio</label>
                                 <input type="file"  id="audioUpload"  name="files" class="fileUpload audioHide form-control" multiple />
                            
                                   </div>
                                   <div id="audioLessonEditDiv" class=""></div>
                               </div>

                               <br />
                                   <div id="audioHideDiv2" class="row"> 
                                   <div class="col-6">
                                    
                                 <label class="control-label  audioHide2">Upload Urdu Audio</label>
                                 <input type="file"  id="audioUpload2"  name="files" class="fileUpload audioHide2 form-control" multiple />
                            
                                   </div>
                                   <div id="audioLessonEditDiv2" class="audio2Class"></div>
                               </div>
                             

                                 <br />

                                  @*------------------- Listen and Speak -----------------*@

                                 @*used for both listen and watch*@

                                 <div class="listenAndSpeak">
                                   @* <div id="listenSpeakAppendQuestions">

                                       
                                    </div>*@

                                  <button class="btn btn-success" type="button" id="btnAddQuestion">Add Question</button>
                                 </div>



                                 @*-----------------mcq generation--------------*@
                                 <div id="divMcsqs" style=" border:2px solid black;border-radius:5px;">
                                 <div class="card">
                                 <div class="card-body">
                                 <h3><i> Start writing mcqs </i> </h3> 
                                 </div>
                                  </div>
                                  @*-----------------*@
                                  <div id="questionDiv">
                                    @*  <div id="removeQuestion" class="iterateElements">
                                      <h3 class="regenerateCount">Question No : 1</h3>
                                      
                                      <input type="text" id="txtMcqQuestion0" class="form-control txtMcqQuestion iterateInputElements question" style="border-radius:5px" placeholder="Write question" />
                                     <input type="text" id="txtMcqOption10" class=" iterateInputElements option"  placeholder="provide option" />
                                     <input type="text" id="txtMcqOption20" class=" iterateInputElements option" placeholder="provide option" />
                                     <input type="text" id="txtMcqOption30" class=" iterateInputElements option" placeholder="provide option" />
                                     <input type="text" id="txtMcqOption40" class=" iterateInputElements option" placeholder="provide option" />
                                   <hr />
                                   <input type="text" id="txtCorrectAnswer0" class=" iterateInputElements" placeholder="provide Correct answer" />
                                     
                                  </div>*@
                                  </div>
                                  <hr style="color:red" />
                                  <button type="button" class="btn btn-success btnAddMcq">Add Question</button>
                                
                                 </div>

 
          @*--------------------------------------------------------------------*@
      </div>
  
       <div class="modal-footer">
       
        <button type="button"  id="btnUpdateLesson" class="btn btn-success" >Save</button>
      </div>
    </div>
  </div>
</div>



@*----------------------------------------------------------------------------------------------------*@


<div id="dropdownsDiv" class="row">
      <div class="col-6">
       <select   id="CourseCategorydrpLesson"  class="form-select form-select-lg mb-3 categoryDrp" aria-label=".form-select-lg example" >
          <option value="-1">Select Category</option>
           </select>
      </div>

      <div class="col-6">
        <select  id="CoursedrpLesson"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
        <option value="-1">Select Course</option>
        </select>
        </div>
</div>



             @*---------------------   Tabs and Panes  -------------------------------------*@


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active  paneVideo" id="home-tab"  data-bs-toggle="tab" data-bs-target="#video" type="button" role="tab" aria-controls="home" aria-selected="true">Video</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link  paneAudio" id="profile-tab" data-bs-toggle="tab" data-bs-target="#audio" type="button" role="tab" aria-controls="profile" aria-selected="false">Audio</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link paneText" id="contact-tab" data-bs-toggle="tab" data-bs-target="#textpane" type="button" role="tab" aria-controls="contact" aria-selected="false">Read</button>
  </li>

   <li class="nav-item" role="presentation">
    <button class="nav-link paneListenAndSpeak" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listenAndSpeak" type="button" role="tab" aria-controls="contact" aria-selected="false">Listen And Speak</button>
  </li>

    <li class="nav-item" role="presentation">
    <button class="nav-link paneText" id="contact-tab" data-bs-toggle="tab" data-bs-target="#mcqs" type="button" role="tab" aria-controls="contact" aria-selected="false">MCQs</button>
  </li>
</ul>



<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="video" role="tabpanel" aria-labelledby="home-tab">
           <div class="table-responsive">
            <table class="table table-bordered" id="videoDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                         

                     
                         <th>lessonType</th>
                          <th>weekNumber</th>
                        <th>dayNumber</th>
                        <th>videos</th>
                       <th></th>
                      <th></th>
                       
                    </tr>
                </thead>
                  <tbody  id="tblVideo">

                  </tbody>
            </table>
  </div>

 


  </div>
  <div class="tab-pane fade" id="audio" role="tabpanel" aria-labelledby="profile-tab">
         <div class="table-responsive">
            <table class="table table-bordered" id="audioDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        
                         <th>lessonType</th>
                          <th>weekNumber</th>
                        <th>dayNumber</th>
                        <th>Audios</th>
                        <th>Image</th>
                       <th></th>
                      <th></th>
                    </tr>
                </thead>
                  <tbody  >

                  </tbody>
            </table>
  </div>
  </div>
    <div class="tab-pane fade" id="textpane" role="tabpanel" aria-labelledby="contact-tab">
         <div class="table-responsive">
            <table class="table table-bordered" id="textDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        
                         <th>lessonType</th>
                          <th>weekNumber</th>
                        <th>dayNumber</th>
                        <th>Audios</th>
                        <th>Image</th>
                        <th>Text</th>
                        <th></th>
                      <th></th>
                    </tr>
                </thead>
                  <tbody  >

                  </tbody>
            </table>
  </div>
  </div>
    @*------------------------------- Listen and Speak --------------------------------------------*@

        <div class="tab-pane fade" id="listenAndSpeak" role="tabpanel" aria-labelledby="contact-tab">

    <div class="table-responsive">
            <table class="table table-bordered" id="listenAndSpeakDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                         <th>lessonType</th>
                          <th>weekNumber</th>
                        <th>dayNumber</th>
                        <th>Show Questions</th>
                      
                        <th></th>
                      <th></th>
                    </tr>
                </thead>
                  <tbody >

                  </tbody>
            </table>
  </div>

  </div>

    @*-----------------------------   mcqs ------------------------------------------------*@

    <div class="tab-pane fade" id="mcqs" role="tabpanel" aria-labelledby="contact-tab">

    <div class="table-responsive">
            <table class="table table-bordered" id="mcqsDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                         <th>lessonType</th>
                          <th>weekNumber</th>
                        <th>dayNumber</th>
                        <th>MCQs</th>
                        <th></th>
                      <th></th>
                    </tr>
                </thead>
                  <tbody >

                  </tbody>
            </table>
  </div>

  </div>
</div>



  @section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~/css/Stepper.css"  />*@
    <script type="text/javascript" src="~/js\Lessonjs.js" ></script>
      <script src="~/ckeditor/ckeditor.js"></script>
  <link href="~/ckeditor/contents.css" rel="stylesheet" />
      
}




